body{
/*	/* background:url("https://wallpaperscraft.com/image/real_coordinate_space_space_real_space_space_coordinates_97854_1920x1080.jpg");
*/	background:url("https://wallpaperscraft.com/image/south_park_the_stick_of_truth_game_art_99931_2560x1440.jpg"); 
	background-size:cover;
	background-repeat: no-repeat;*/
}


button{
float: right;
border-top: 1px solid #ffffff;
   background: #a66203;
   background: -webkit-gradient(linear, left top, left bottom, from(#a72e25), to(#a9723b));
   background: -webkit-linear-gradient(top, #a72e25, #a9723b);
   background: -moz-linear-gradient(top, #a72e25, #a9723b);
   background: -ms-linear-gradient(top, #a72e25, #a9723b);
   background: -o-linear-gradient(top, #a72e25, #a9723b);
   padding: 9px 18px;
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #0f0d0f;
   font-size: 20px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
